.main_div34{
    display: flex;
    color: white;
  }
   .side_bar{ 
  font-size: 20px;
 padding: 30px;
 height: 100vh;
  }
.child_container_123{
    display: flex;
    align-items: center;
    gap: 10px;
}
.greet_box12{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main_box235{
    display: flex;
    justify-content: space-between;
    border: solid rgba(37, 41, 38, 0.397) 1px;
         background: linear-gradient(rgba(34, 2, 218, 0.393),rgb(78, 78, 240),rgb(78, 19, 241));
width: 95%;
margin-top: 10px;
border-radius: 10px;
 padding: 10px;
}
.main98{
    width: 100%;
/* border: solid red 2px; */
justify-items: center;
}
.item_box12435{
     background-color: rgba(54, 51, 51, 0.181);
    margin-top: 20px;
    padding: 10px;
     text-align: center;
     /* width: 400px; */
      width: 100%;
    border: solid rgba(251, 251, 251, 0.177) 1px;
    border-radius: 10px;
    transition: background 0.5s ease , border 0.5s ease , boxshadow 0.5s ease;
    cursor: pointer;
}
 
.item_box12435:hover{
    background-color: rgba(90, 86, 86, 0.21);
    border:solid rgba(0, 0, 255, 0.303) 1px;
    box-shadow:  2px 2px 2px rgba(183, 52, 219, 0.515);
}
.main_item_box1234{
    display: flex;
    gap: 20px;
    width: 95%;
 }
 
@media(max-width:1024px){
.item_box12435{
    width: 100%;
}
}
.main_item_box123478{
    width: 95%;
    background-color: rgba(0, 18, 3, 0.092);
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.details_progress{
        display: flex;
     flex-direction: column;
    gap: 10px;
    background : linear-gradient(rgba(100, 176, 243, 0.133),rgba(149, 82, 231, 0.33),rgba(219, 212, 218, 0.214));
    padding: 10px;
    border: solid rgba(113, 177, 236, 0.281) 1px;
    border-radius: 10px;
    margin-top: 10px;
    justify-self:left;
   border: solid rgb(105, 101, 101) 1px;
   }
.btn_enter123{
    background-color: blue;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border: solid rgba(105, 101, 101, 0.245) 1px;
    text-align: center;
    cursor: pointer;
}
.main_details_div6576{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    gap: 10px;
}
.completed{
color: green;
}
.InComplete{
    color: red;
}